body{
    background-color: hsl(212, 45%, 89%);
}



@font-face{
    font-family: Outfit;
    src: url(https://fonts.googleapis.com/css?family=Outfit)
    


}

h1{
    font-family: Outfit;
    font-size: 15px;
}

p{
    font-family: Outfit;
}